body {
    background-image: url('canvas.background.png');
    background-size: cover;
}

header {
    font-size: 23px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 43px;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: rgb(82, 4, 4);
}

section {
    background-color: whitesmoke;
    margin: auto;
    margin-top: 150px;
    padding: 14px;
    width: 370px;
    height: 400px;
    box-shadow: rgba(255, 0, 0, 0.61);
    box-shadow: 10px 12px 25px rgb(95, 3, 3);
    border-radius: 20px;
    text-align: center;
}

footer {
    color: white;
}