    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,200;1,400&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        transition: .1s linear;
        font-family: 'Nunito', sans-serif;
        text-transform: capitalize;
    }
    
    body {
        background: #e7e1e1;
    }
    
    html {
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    
    html::-webkit-scrollbar {
        width: .9rem;
    }
    
    html::-webkit-scrollbar-track {
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
        background: #dc143c;
        border-radius: 2rem;
    }
    /* navbar css */
    
    header {
        display: flex;
        width: 100%;
        height: 11vh;
        margin: auto;
        align-items: center;
        border-bottom: 1px solid #808080;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999;
        background: #fff;
    }
    
    .left-arm,
    .right-arm,
    .navbar,
    .fas {
        display: flex;
    }
    
    .left-arm {
        justify-content: flex-start;
        height: 150%;
        flex: 1;
    }
    
    .right-arm {
        height: 150%;
        justify-content: flex-end;
        flex: 1;
    }
    
    .fas {
        font-size: 20px;
        cursor: pointer;
        margin-top: 3px;
    }
    
    .fas:hover {
        color: #d10606;
    }
    
    nav {
        flex: .5;
        margin-bottom: 1rem;
    }
    
    nav .navbar {
        justify-content: space-between;
        list-style: none;
        font-size: 2rem;
        color: #000000;
    }
    
    nav .navbar a {
        color: #39395e;
    }
    
    nav .navbar a:hover {
        border-bottom: 1px solid #d10606;
        color: #d10606;
    }
    /*cart css */
    
    header .cart-container {
        position: absolute;
        margin-top: 87vh;
        margin-right: .5rem;
        right: -100%;
        height: 97vh;
        width: 40rem;
        background: rgb(54, 51, 51);
        padding: 0 1.5rem;
        border-radius: 5px;
    }
    
    header .cart-container .total-price {
        text-align: center;
        text-transform: uppercase;
        font-size: 2.8rem;
        margin-top: .5rem;
        color: #eee;
    }
    
    header .cart-container.active {
        right: 0;
    }
    
    header .cart-container .cart-box {
        position: relative;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    header .cart-container .cart-box .item-img {
        width: 130px;
        height: 110px;
        filter: drop-shadow(2px 5px 3px rgb(0, 0, 0));
    }
    
    header .cart-container .cart-box .content .name,
    .item-name {
        font-size: 2.2rem;
        color: rgb(0, 0, 0);
    }
    
    header .cart-container .cart-box .content .item-price {
        font-size: 2.5rem;
        color: #dc143c;
    }
    
    header .cart-container .cart-box .fa-times {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    
    header .cart-container .cart-box .item-qnt {
        width: 25%;
        font-size: large;
        color: #000000;
        background-color: #eee;
    }
    
    header .cart-container .cart-box .item-qnt:hover {
        border: 2px solid #d10606;
    }
    
    header .cart-container .cart-box .item-qnt:focus {
        outline: 0;
    }
    
    header .prodadd {
        position: absolute;
        top: -200%;
        left: 38%;
        background: rgb(54, 51, 51);
        width: 40rem;
        height: 10rem;
        border-radius: 5px;
        margin-right: 15rem;
    }
    
    header .prodadd.active {
        box-shadow: 3px 3px 5px #000000;
        animation: msgclose 1.7s ease;
    }
    
    header .prodadd h3 {
        text-transform: uppercase;
        text-align: center;
        font-size: 3.1rem;
        margin-top: 3.2rem;
        color: #d3274a;
    }
    /* home css */
    
    .home-text h1 {
        color: whitesmoke;
        font-size: 12rem;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        padding-top: 17rem;
        padding-left: 30rem;
        filter: drop-shadow(0 5px 3px rgb(0, 0, 0));
    }
    
    .home {
        background-image: url('images/home-img.jpg');
        background-size: cover;
        height: 82.9rem;
        width: 100%;
        background-position: center;
        align-items: center;
        animation: fall-home 1.2s linear;
    }
    
    .home-text .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 23rem 0 0 15rem;
        padding-top: 4px;
        width: 120px;
        height: 40px;
        opacity: 1;
    }
    
    .btn {
        font-size: 2.5rem;
        color: #fff;
        background: #dc143c;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
        transition: .4s linear;
    }
    
    .btn:hover {
        letter-spacing: .2rem;
        background: #7a051c;
    }
    
    .heading {
        margin-top: 5.5rem;
        font-size: 4.3rem;
        text-transform: uppercase;
        text-align: center;
        color: #dc143c;
        filter: drop-shadow(0 2px 1px rgb(0, 0, 0));
    }
    
    .heading span {
        color: #161414;
    }
    /* about css */
    
    .about .row .about-image {
        flex: 1 1 45rem;
    }
    
    .about .row .about-image img {
        width: 100%;
    }
    
    .about .row {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex: wrap;
        margin-top: 5rem;
        background: #ebe5e5;
    }
    
    .about .row .content {
        flex: 1 1 45rem;
        padding: 2rem;
        opacity: 1;
    }
    
    .about .row .content h3 {
        font-size: 4.2rem;
        color: #000000;
        padding-bottom: 1rem;
    }
    
    .about .row .content p {
        font-size: 2.1rem;
        color: #000000;
        padding-bottom: 5rem;
    }
    
    .content .btn {
        margin-left: 37rem;
        opacity: 1;
    }
    /* products css */
    
    .products h1 {
        color: #161414;
    }
    
    .products span {
        color: #dc143c;
        text-transform: uppercase;
    }
    
    .products .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(46rem, 1fr));
        gap: 1.8rem;
    }
    
    .products .container .itens {
        padding: 5rem;
        text-align: center;
        background: #eee;
        border: .2rem solid rgba(0, 0, 0, 0.3);
        margin-top: 4rem;
    }
    
    .products .container .itens:hover {
        background: rgb(179, 178, 178);
    }
    
    .products .container .itens h3 {
        color: #d10606;
        font-size: 3rem;
        padding: 1rem 0;
        text-transform: uppercase;
    }
    
    .products .container .itens img {
        height: 18rem;
        filter: drop-shadow(2px 5px 3px rgb(0, 0, 0));
    }
    
    .products .container .itens img:hover {
        transform: scale(1.3);
    }
    
    .products .container .itens .stars {
        color: #d10606;
        padding-bottom: 1.5rem;
    }
    
    .itens .price {
        margin-bottom: 1rem;
        font-size: 2.4rem;
        opacity: 1;
    }
    
    .itens .btn-cart {
        font-size: 2.5rem;
        color: #fff;
        background: #7a051c;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
        transition: .4s linear;
        outline: 0;
    }
    
    .itens .btn-cart:hover {
        letter-spacing: .2rem;
        background: #7a051c;
    }
    
    #buy-btn {
        display: none;
        /* display flex on js */
        font-size: 3rem;
        text-align: center;
        justify-content: center;
        margin-top: 1rem;
    }
    /* training section css */
    
    .gym .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        gap: 1.5rem;
    }
    
    .gym .box-container .box {
        text-align: center;
        padding: 2rem;
    }
    
    .gym .box-container .box img {
        height: 40rem;
        border-radius: 10%;
    }
    
    .gym .box-container .box .trainings {
        padding-top: 4rem;
    }
    
    .gym .box-container .box h1 {
        color: #1a1818;
        font-size: 3rem;
        text-transform: uppercase;
        margin-top: 2rem;
    }
    /* bmi css */
    
    .bmi .heading h1 {
        text-transform: uppercase;
    }
    
    .bmi .window {
        text-align: center;
        border: .2rem solid rgba(0, 0, 0, 0.3);
        height: fit-content;
        width: 50%;
        padding-bottom: 5rem;
        margin: 0 auto;
    }
    
    .bmi .window .content h3 {
        font-size: 3.2rem;
        margin-top: 4rem;
    }
    
    .bmi .window .content p {
        font-size: 2.2rem;
        margin-top: 3rem;
    }
    
    .bmi .window .content #bmiBtn {
        margin: 5rem 0;
    }
    /* measurement window */
    
    .measurement {
        position: fixed;
        top: -200%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #191919;
        width: 40%;
        height: fit-content;
        border-radius: 5px;
    }
    
    .measurement .Bmicontent {
        text-align: center;
    }
    
    .measurement .Bmicontent input {
        width: 55%;
        height: 36px;
        outline: 0;
        border-radius: 2px;
        border: 2px solid rgb(22, 22, 22);
        border-radius: 15px;
        margin-top: 1rem;
        transition: 0.25s;
        text-align: center;
    }
    
    .measurement .Bmicontent input:focus {
        border-color: #7a051c;
        height: 39px;
        width: 60%;
    }
    
    .measurement .Bmicontent h3 {
        font-size: 3rem;
        margin-top: 1.5rem;
        color: #eee;
    }
    
    .measurement .Bmicontent span {
        color: #d10606;
    }
    
    .measurement .Bmicontent .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
        width: 50%;
    }
    
    .measurement.active {
        top: 50%;
        transition: 1s ease;
    }
    
    .measurement .Bmicontent #bmiClose {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
    }
    
    #bmiClose {
        color: #808080;
        transition: .4s;
    }
    
    #bmiClose:hover {
        color: #d10606;
    }
    
    #bmi .measurement .Bmicontent h1 {
        color: whitesmoke;
        text-align: center;
        font-size: 3.4rem;
    }
    
    .measurement .Bmicontent #result,#idealW,#Loss {
        color: #eee;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    
    @keyframes fall-home {
        0% {
            opacity: 0;
            transform: translateY(-60rem);
        }
        50% {
            opacity: .5;
            transform: translateY(-30rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @keyframes msgclose {
        0% {
            top: -200%;
        }
        50% {
            top: 70%;
        }
        100% {
            top: -200%;
        }
    }
    /* media queries */

    @media (max-width: 2570px) {
        nav{
            flex: .7;
        }
        nav .navbar {
         font-size: 3rem;
        }
        .home-text .btn {
            margin-top: -35rem;
            top: 100%
        }
        .content .btn {
         margin-left: 0;
     }
        header .cart-container .cart-box .item-img {
            height: 140px;
            width: 150px;
        }
        header .cart-container .cart-box .content .item-price {
            font-size: 2.2rem;
        }
        header .cart-container {
           overflow: scroll;
        }
        .fa-shopping-cart {
            font-size: 3rem;
        }
        header .prodadd {
            left: 42%;
        }
        header .cart-container {
            overflow: scroll;
            height: 95vh;
            width: 70rem;
            margin-top: 100vh;
        }
     }

     @media (max-width: 1700px) {
        .gym .box-container .box img {
            width: 40rem;
            grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        }
    }
    
    @media (max-width:999px) {
        html {
            font-size: 45%;
        }
        .header {
            padding: 1.5rem 2rem
        }
        section {
            padding: 2rem;
        }
        .content .btn {
            margin-left: 9rem;
        }
    }

    
    @media (max-width: 768px) {
        nav{
            flex: .7;
            margin-left: 7rem;
            font-size: 3rem;
        }
        header .cart-container .cart-box .item-img {
            height: 80px;
            width: 90px;
        }
        header .cart-container {
            overflow: scroll;
            height: 89vh;
            width: 95%;
            margin-top: 100vh;
        }
        .left-arm, .right-arm {
            display: none;
        }
        body{
            font-size: larger;
        }
        #pd-home {
            display: none;
        }
        header .prodadd {
            left: 12%;
            font-size: x-large;
            width: 50rem;
        }
        .item-qnt {
            width: 100%;
        }
    }
    
    @media (max-width:668px) {
        html {
            font-size: 40%;
        }
        nav .navbar {
            flex: .2;
        }
        .home {
            height: 50rem;
            background-size: cover;
        }
        .home-text h1 {
            font-size: 5rem;
            padding-top: 3rem;
        }
        .home-text .btn {
            width: 90px;
            height: 25px;
            top: 12%;
        }
    }
    
